.border {
  border: inset;
  padding: 20px;
  margin: 10px;
}

.card {
  width: 80%;
  margin: 0 auto;
}

.card-footer,
.card-header {
  background-color: #2b5ea6;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  text-transform: capitalize;
}

.card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-footer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-body-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.text-wrap p {
  display: flex;
  gap: 15px;
}

.skill-wrap {
  background-color: #f7fafc;
  padding: 20px;
}

.skill-wrap h2 {
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 22px;
  padding: 20px;
}

.skill-card {
  width: 155px;
  height: 125px;

  border: 1px solid #ddd;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.skill-card i {
  font-size: 55px;
  margin-bottom: 8px;
}

.skill-card h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.icon {
  color: #2b5ea6;
  font-size: 20px;
}
